body{
  background-image: url("leaves.jpg");
  background-size: cover;
  padding-top: 40px;

  /*position: fixed;*/


}
header{
  background: #FAFAFA;
  opacity: 0.8;
  height: 100px;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  margin-left: -10px;
 /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;*/
}
.nav-up {
    top: -40px;
}
.container{

  /*border: 1px solid black;*/
  height: 80%;
}

.buttonCont{
  display: flex;
  justify-content: center;
  margin-bottom: 400px;
  /*position: fixed*/
}
.button{
  background-color:rgba(0,0,0,0);
  border: 0px;
  font-size: 80px;
  margin-top: 350px;
  color: white;
/*
  position: absolute;*/
/*
  display: inline-block;*/
}
.icons{
  margin-top: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-down{
  text-align: center;
  position: fixed;

}
p{
  display: block;
  float: left;
  padding: 25px;

}
.button {
  moz-transition: all 1s ease-in-out;
  o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  webkit-transition: all 1s ease-in-out;
}

.aboutMe {
    width: 95%;
  height: 400px;
  margin-top: 30px;
  margin-left: 35px;
  background-color: #FAFAFA;
  color: white;
  opacity: .8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section {
  width: 95%;
  height: 400px;
  margin-top: 30px;
  margin-left: 35px;
  background-color: #FAFAFA;
  color: white;
  opacity: .8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section2 {
  width: 95%;
  height: 400px;
  margin-top: 30px;
  margin-left: 35px;
  background-color: #FAFAFA;
  color: white;
  opacity: .8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
